body {
    background-color: #2C2F33;
    background-image: url(https://i.redd.it/vda9rbt01en01.png);
    background-size: cover;
    font-family: Roboto;
}

a {
    text-decoration: none;
    color: inherit;
}

/* NavBar Starts */
.navbar {
    color: #fff;
    height: 77px;
    line-height: 77px;
    font-weight: 600;
    -webkit-box-shadow: 0px 0px 30px 0.1px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 30px 0.1px rgba(0, 0, 0, 0.25);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: fixed;
    width: 100%;
    z-index: 1;
}

/* NavBar Logo */
.navbar .navbar-brand {
    float: left;
    font-size: 20px;
}

.navbar h1 {
    margin: 0;
    font-size: 20px;
}

/* Mobile View Toggle Button */
.toggle {
    float: right;
    display: none;
    font-size: 25px;
    cursor: pointer;
}

/* NavBar Options */
.navbar-nav {
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    font-size: 15px;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.navbar-nav .nav-item {
    padding: 0px 30px;
    height: auto;
}

.navbar-nav .nav-item:hover {
    color: #a8a8a8;
}

/* NavBar Ends */



.bot-name {
    position: absolute;
    width: 454px;
    height: 113px;
    left: 10%;
    top: 30%;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    color: #FFFFFF;
}

.rounded-button {
    position: absolute;
    width: 250px;
    height: 50px;
    left: 16%;
    top: 60%;
    background: #7289DA;
    border-radius: 25px;
}

a {
    color: #FFFFFF;
}

.link {
    position: relative;
    left: 70px;
    top: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
}

.image {
    position: absolute;
    width: 720px;
    height: 1024px;
    left: 1185px;
    top: 0px;

}

.gaurav {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 102px;
    top: 261px;

    background: #7289DA;

}

.gaurav-img {
    position: absolute;

}

.rahul {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 570px;
    top: 261px;

    background: #7289DA;
}

.devansh {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 1038px;
    top: 261px;

    background: #7289DA;
}

.fa-instagram {
    color: #FFFFFF;
}

.ig1 {
    position: relative;
    top: 30px;
    left: 20px;
}

.git1 {
    position: relative;
    bottom: 20px;
    left: 120px;
}

.li1 {
    position: relative;
    bottom: 65px;
    left: 220px;
}

.name-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
    text-align: center;
}

.chintubot {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
    text-align: center;
}

.commands-list {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
    text-align: left;
}

.Fun {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
    text-align: left;
}

.fun-list {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    text-align: left;
}

.widget {
    position: absolute;
    left: 70%;
    top: 25%;
}

.bg2 {
    background-color: #2C2F33;
    padding: 10px 20px;
}

.server-count {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 10px;
    color: #FFFFFF;
    text-align: center;
}


@media (max-width: 992px) {
    .navbar .navbar-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0;
        position: absolute;
        top: 77px;
        left: -100%;
        width: 100%;
        text-align: center;
        background-color: #2C2F33;
    }

    .navbar .toggle {
        display: block;
    }

    .navbar .show {
        left: 0%;
    }
}