
.title {
    position: absolute;
    width: 113px;
    height: 28px;
    left: 102px;
    top: 36px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    
    color: #FFFFFF;
}

body {
    background-color: #2C2F33;
}

.bot-name{
    position: absolute;
    width: 454px;
    height: 113px;
    left: 122px;
    top: 374px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 112px;
    color: #FFFFFF;
}

.rounded-button {
    position: absolute;
    width: 250px;
    height: 50px;
    left: 122px;
    top: 600px;
    
    background: #7289DA;
    border-radius: 25px;
    
}

a {
    color: #FFFFFF;
}

.link {
    position: relative;
    left: 70px;
    top: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.image {
    position: absolute;
width: 720px;
height: 1024px;
left: 1185px;
top: 0px;

}

.home {
    position: absolute;
    width: 49px;
    height: 21px;
    left: 1400px;
    top: 39px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: #FFFFFF;
}

.about {
    position: absolute;
    width: 49px;
    height: 21px;
    left: 1600px;
    top: 39px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: #FFFFFF;
}

.gaurav {
    position: absolute;
    width: 300px;
    height: 479px;
    left: 102px;
    top: 261px;

    background: #7289DA;
    
}

.gaurav-img {
    position: absolute;

}

.rahul {
    position: absolute;
    width: 300px;
    height: 479px;
    left: 570px;
    top: 261px;

    background: #7289DA;
}


.fa-instagram {
    color: #FFFFFF;
}

.ig1 {
    position: relative;
    top: 30px;
    left: 20px;
}

.git1 {
    position: relative;
    bottom: 20px;
    left: 120px;
}

.li1 {
    position: relative;
    bottom: 65px;
    left: 220px;
}
