@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #2C2F33;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  /*  */
  background-image: url(./img/background.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(./img/loader.gif) center no-repeat #fff;
}

.d-none {
  display: none;
}

.icons {
  vertical-align: middle;
}